<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>mpolichette.flowdock.alfred</string>
	<key>connections</key>
	<dict>
		<key>1D004497-3297-4CB5-8639-2B37591B63E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>216ED5B6-E4F5-4618-BF94-A14270DBAFCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Polichette</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Flowdock</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>flowdock</string>
				<key>runningsubtext</key>
				<string>Looking up users...</string>
				<key>script</key>
				<string>/usr/local/bin/node ./index.js "{query}"</string>
				<key>subtext</key>
				<string>Hi there {query}</string>
				<key>title</key>
				<string>Open a flowdock user</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1D004497-3297-4CB5-8639-2B37591B63E3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Flowdock Notification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>216ED5B6-E4F5-4618-BF94-A14270DBAFCA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D004497-3297-4CB5-8639-2B37591B63E3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>216ED5B6-E4F5-4618-BF94-A14270DBAFCA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
